

:root {
	--primary-color: #e50914;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Arial' , sans-serif;
	--webkit-font-smoothing: antialiased;
	background: #000;
	color: #999;
	text-align: center;
}

a{
	color: #fff;
	text-decoration: none;
}

p {
	margin: 0.5rem 0;
}

img {
	width: 25%;
}

.enjoy-tv img {
	width: 450px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(+20%, -50%);
	display: block;
}

.showcase {
	width: 100%;
	height: 93vh;
	position: left;
	background: url('https://img.techpowerup.org/200613/netflix-backgroung-image.jpg') no-repeat center center/cover;
	border-bottom: 8px solid #222;
	text-indent: 5px;
}


.Watch-offline {
	font-size: 30px;
	text-align: justify;
	position: relative;
	padding: 150px 10%;
	margin-bottom: 0;
	margin-left: 280px;
	background: 0 0;
	color: #fff;
	display: block;
	border-bottom: 8px solid #222;
}

.Watch-offline img {
	width: 450px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(+20%, -50%);
	display: block;
}

.watch-everywhere {
	font-size: 30px;
	text-align: left;
	position: relative;
	padding: 150px 10%;
	padding-left: 280px;
	margin-bottom: 0;
	background: 0 0;
	color: #fff;
	display: block;
	border-bottom: 8px solid #222;	
}

.watch-everywhere img {
	width: 450px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(+20%, -50%);
	display: block;
}

.ask-question {
	padding-top: 60px;
	padding-bottom: 50px;
}

.ask-question h1 {
	font-size: 50px;
	padding-bottom: 50px;
}

.ask-question button {
	display: center;
	text-align: left;
	background-color: #303030;
	color: white;
	height: 65px;
	width: 700px;
	font-size: 0.9rem;
	padding: 0.3rem 0.5rem;
	text-transform: uppercase;
	border-radius: 2px;
}